  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">EyeGuard</a>
      <ul class="right hide-on-med-and-down">
      	<li>Hello {{username}}</li>
      	<li><a ui-sref=".companyinfo">Company Info</a></li>
      	<li><a ui-sref=".monitor">Monitor Users</a></li>  
      	<li><a ui-sref=".verify">Verify Users</a></li>    	
        <li><a href="/">Log Out</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Log out</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<ui-view></ui-view>

  <script type="text/javascript" src="public/js/jquery.min.js"></script>
  <script type="text/javascript" src="public/js/materialize.js"></script>

