
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">EyeGuard</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Log In</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">About Us</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Log In</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center light text-lighten-2">EyeGuard: Security Tracker For You</h1>
        <div class="row center">
          <h5 class="header col s12 light">A web-android based application for security purposes</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light background-blue lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/public/images/background-phone.png" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/public/images/background-phone.png" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>

          <div id="login-page" class="row">
		    <div class="col s12 z-depth-4 card-panel">
		      <form class="login-form">
		        <div class="row">
		          <div class="input-field col s12 center">
		            <p class="header s12 center login-form-text">Sign In</p>
		          </div>
		        </div>
		        <div class="row margin">
		          <div class="input-field col s12">
		            <i class="mdi-social-person-outline prefix"></i>
		            <input id="username" type="text" ng-model="username">
		            <label for="username" class="center-align">Username</label>
		          </div>
		        </div>
		        <div class="row margin">
		          <div class="input-field col s12">
		            <i class="mdi-action-lock-outline prefix"></i>
		            <input id="password" type="password" ng-model="password">
		            <label for="password">Password</label>
		          </div>
		        </div>
		        <div class="row">          
		          <div class="input-field col s12 m12 l12  login-text">
		              <input type="checkbox" id="remember-me" />
		              <label for="remember-me">Remember me</label>
		          </div>
		        </div>
		        <div class="row">
		          <div class="input-field col s12">
		            <a id="login" class="btn waves-effect waves-light col s12" onclick="return false">Login</a>
		          </div>
		        </div>
		        <div class="row">
		          <div class="input-field col s6 m6 l6">
		            <p class="margin medium-small"><a href="page-register.html">Do not have account? Register Now!</a></p>
		          </div>
		          <div class="input-field col s6 m6 l6">
		              <p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>
		          </div>          
		        </div>

		      </form>
		    </div>
		  </div>

        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/public/images/background-map.png" alt="Unsplashed background img 3"></div>
  </div>

<!--   <footer class="page-footer background-blue">
  		<div ng-include="/views/partials/footer.html">
  </footer> -->


  <!--  Scripts-->
  <script type="text/javascript" src="public/js/jquery.min.js"></script>
  <script type="text/javascript" src="public/js/materialize.js"></script>
  <script type="text/javascript" src="public/js/init.js"></script>
  