
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">EyeGuard</a>
      <ul class="right hide-on-med-and-down">
        <li><a ng-click="goToAnchor('login-page')">Log In</a></li>
        <li><a ui-sref="signup">Sign Up</a></li>
        <li><a href="#">About Us</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a ng-click="goToAnchor('login-page')">Log In</a></li>
        <li><a ui-sref="signup">Sign Up</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container" style="background-image: url(/public/images/background1.jpg);background-repeat: no-repeat;background-size: cover; ">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center light text-lighten-2">EyeGuard: Security Tracker For You</h1>
        <div class="row center">
          <h5 class="header col s12 light">A web-android based application for security purposes</h5>
        </div>
        <div class="row center">
          <a ng-click="goToAnchor('login-page')" id="download-button" class="btn-large waves-effect waves-light background-blue lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <!-- <div class=""><img src="/public/images/background1.jpg" alt="Unsplashed background img 1"></div> -->
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">location_on</i></h2>
            <h5 class="center">Location oriented</h5>

            <p class="light">We want you to have the most accurate and dependable way to get your locations of supervision. The application will use GPS and network functionalities of getting longhitude and latitude. In case of its absence of failure, the application will use a prediction algorithm using native phone tools such as accelerometer and compass.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Lighten up work</h5>

            <p class="light">This application aims to make supervision on a large vicinity. The application would provide you a workplace where you can store your data like reports and location free from the knowledge of your workers</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">The application aims to provide you self documenting icons, functionalities, and buttons. We would also provided a user manual for the application to maximize this application's potential</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">An android friendly application for your employees</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/public/images/background-phone.png" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row center">
        <div class="col s6 offset-s3">
          <h3><i class="mdi-content-send brown-text"></i></h3>

        <div id="login-page" class="row anchor">
		    <div class="col s12 z-depth-4 card-panel">
		      <form class="login-form" ui-keypress="{13:'enterLogin($event)'}">
		        <div class="row">
		          <div class="input-field col s12 center">
		            <p class="header s12 center login-form-text">Sign In</p>
		          </div>
		        </div>
		        <div class="row margin">
		          <div class="input-field col s12">
		            <i class="material-icons prefix">person_pin</i>
		            <input id="username" type="text" ng-model="username">
		            <label for="username" class="center-align">Username</label>
		          </div>
		        </div>
		        <div class="row margin">
		          <div class="input-field col s12">
		            <i class="material-icons prefix">lock_outline</i>
		            <input id="password" type="password" ng-model="password">
		            <label for="password">Password</label>
		          </div>
		        </div>
		        <div class="row">          
		          <div class="input-field col s12 m12 l12  login-text">
		              <input type="checkbox" id="remember-me" />
		              <label for="remember-me">Remember me</label>
		          </div>
		        </div>
		        <div class="row">
		          <div class="input-field col s12">
		            <a id="login" class="btn waves-effect waves-light col s12" onclick="return false">Login</a>
		          </div>
		        </div>
		        <div class="row">
		          <div class="input-field col s6 m6 l6">
		            <p class="margin medium-small"><a href="page-register.html">Do not have account? Register Now!</a></p>
		          </div>
		          <div class="input-field col s6 m6 l6">
		              <p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>
		          </div>          
		        </div>

		      </form>
		    </div>
		  </div>

        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Locate your employees on their convinience without them knowing!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/public/images/background-map.png" alt="Unsplashed background img 3"></div>
  </div>


  <!--  Scripts-->
  
  <script type="text/javascript" src="public/js/nouislider.js"></script>
  <script type="text/javascript" src="public/js/jquery.min.js"></script>
  <script type="text/javascript" src="public/js/materialize.js"></script>
  <script type="text/javascript" src="public/js/init.js"></script>
  